app:
  port: 0 # 0 means random port
  logging.development: true

  datasource:
    driver: mysql
    host: localhost
    port: 3306
    database: sample_test
    username: root
    password: secret
    params: parseTime=true
    migrationSource: file://../../migration/migrations
