name: Go package

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.18.x', '1.19.x', '1.20.x' ]

    steps:
      - uses: actions/checkout@v3

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - uses: mirromutth/mysql-action@v1.1
        with:
          mysql version: '8.0'
          mysql database: 'sample_test'
          mysql root password: 'secret'

      - name: Run Tests
        run: go test -v ./... -coverprofile=coverage.txt

      - name: Upload coverage report
        if: github.ref == 'refs/heads/main'
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{ secrets.CODECOV_ACCESS_TOKEN }}
          file: ./coverage.txt
          flags: unittests
          name: codecov-umbrella
